---
import Appear from "../../components/appear.astro";
import DashboardLayout from "../../layouts/dashboard.astro";
---

<DashboardLayout content={{ title: "Glouglou" }}>
  <div
    style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;"
  >
    <h1 style="display: flex;">
      {
        "Send emails from your code".split(" ").map((w, i) => (
          <Appear delay={250 + 50 * i} method="bottom">
            <span style="all: inherit; padding-right: 10px">{w}</span>
          </Appear>
        ))
      }
    </h1>
    <br />
    <Appear method="bottom" delay={500}>
      <div style="display: flex">
        <a href="/docs" class="no-style">
          <div class="button" style="margin-right: 20px; --accent: green;">
            Get started
          </div>
        </a>
        <!-- <a href="/dashboard" class="no-style"> -->
        <div class="button disabled">Deploy serverless</div>
        <!-- </a> -->
      </div>
    </Appear>
    <br />
    <Appear method="bottom" delay={650}>
      <p class="tiny">Serverless deploy will be available later this year.</p>
    </Appear>
    <div style={{ display: "flex" }}>
      
    </div>
  </div>
</DashboardLayout>
