---
import "../../sass/shared/global.scss";
import "../../sass/shared/fonts.scss";
import "../../sass/custom/button.scss";
---

<meta charset="utf-8" />
<div
  style="width: calc(100% - 4rem); height: calc(100vh - 4rem); padding: 2rem; display: flex; flex-direction: column; justify-content: flex-end;"
>
  <div>
    <h1>GlouGlou</h1>
    <p>Programatically send emails from your code.</p>
  </div>
  <br />
  <div style="display: flex;">
    <a href="/docs" class="no-style">
      <div class="button">📜 Documentation (Self-hosted)</div>
    </a>
    <div class="button disabled" style="margin-left: 10px;">
      💽 Get started (Hosted)
    </div>
    <a href="https://github.com/franndjoo/glouglou/" class="no-style">
      <div class="button" style="margin-left: 10px;">💾 Download</div></a
    >
  </div>
</div>
